# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.lastbuildstate

# Executables
#*.exe
*.out
*.app

Debug
Release
*.tlog
*.log
*.aps

*.ilk
*.ipdb
*.iobj
*.suo
*.user
/bin/Find_d.exe
/pdb/Find_d.pdb
/bin/Finder.exe
/bin/FinderTest.exe
/bin/FinderTest_d.exe
/bin/Finder_d.exe
/pdb/Finder.pdb
/pdb/FinderTest.pdb
/pdb/FinderTest_d.pdb
/pdb/Finder_d.pdb
/bin/DoubleCheckerTest_d.exe
/bin/DoubleChecker_d.exe
/pdb/DoubleCheckerTest_d.pdb
/pdb/DoubleChecker_d.pdb
/bin/DoubleChecker.exe
/bin/DoubleCheckerTest.exe
/pdb/DoubleChecker.pdb
/pdb/DoubleCheckerTest.pdb
